// 公共样式
/*阿里巴巴图标*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*富文本容器*/
.htmlBox {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  span,div,p{
    line-height: 1.35;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}

.w100{
  width: 100%;
}

.wpSheet{
  padding: 26px 24px 38px;
  border: 1px solid #ccd0d4!important;
  box-shadow: 0 1px 3px rgba(0,0,0,.04) !important;
  background-color: white!important;
}

.alertSheet{
  color: #444;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1) !important;
  border-radius: 0!important;
  .link0{
    padding-left: 2px;
  }
}

.limitText5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-align: justify;
}

.limitText4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}

.limitText3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}

.limitText2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: justify;
}

.limitText1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: justify;
}
